/* TITTLES */
/* BRACKGROUND */
/* FONTS */
/* PADDING */
/* TEXT-COLOR */
/* INICIO */
.contenedor-inicio {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 5fr 5fr;
  grid-template-areas: "presentacion presentacion" "fotos-inicio textofoto-inicio" "videos-inicio textovideo-inicio";
  row-gap: 5%; }
  .contenedor-inicio .presentacion p {
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 20px; }
  .contenedor-inicio #fotos-inicio {
    grid-area: fotos-inicio;
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden; }
    .contenedor-inicio #fotos-inicio .carousel-item {
      width: 100%;
      height: 800px;
      position: relative;
      overflow: hidden; }
      .contenedor-inicio #fotos-inicio .carousel-item img {
        position: absolute;
        width: 100%;
        height: 70%;
        object-fit: cover; }
  .contenedor-inicio .textofoto-inicio {
    grid-area: textofoto-inicio;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(59, 59, 59, 0.785); }
    .contenedor-inicio .textofoto-inicio p {
      align-items: center;
      z-index: 2;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      margin: 10px; }
  .contenedor-inicio .videos-inicio {
    grid-area: videos-inicio;
    justify-items: center;
    align-items: center;
    z-index: 2; }
    .contenedor-inicio .videos-inicio video {
      width: 300px;
      height: 300px; }
  .contenedor-inicio .textovideo-inicio {
    grid-area: textovideo-inicio;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(59, 59, 59, 0.785); }
    .contenedor-inicio .textovideo-inicio p {
      z-index: 2;
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      margin: 20px; }

/* MEDIA QUERIES MOBILE */
@media screen and (max-width: 700px) {
  .bienvenido a {
    font-size: 1.8rem !important; } }

@media screen and (max-width: 575px) {
  .logo {
    display: none; }
  .menu .enlaces li a {
    display: none; }
  .menu .logo {
    position: absolute;
    top: 7px;
    left: 7px;
    padding: 10px;
    width: 5rem; }
  .menu .menu-hamburger-container {
    display: flex !important;
    justify-content: center; }
  .label-name {
    color: white;
    font-weight: bold;
    font-size: 1rem !important; }
  textarea {
    width: 75% !important; }
  .logoredes a {
    display: none; } }

.presentacion {
  grid-area: presentacion;
  z-index: 2;
  margin: 20px;
  align-items: center p;
    align-items-font-family: Arial, Helvetica, sans-serif;
    align-items-color: rgba(255, 255, 255, 0.815);
    align-items-text-align: center; }

/* MEDIA QUERIES TABLET */
@media screen and (max-width: 850px) {
  .galeria2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  .contenedor-inicio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 0%; } }

/* TITTLES */
/* BRACKGROUND */
/* FONTS */
/* PADDING */
/* TEXT-COLOR */
.contenedor-principal .menu {
  position: relative;
  width: 100%;
  margin: auto;
  z-index: 2; }
  .contenedor-principal .menu .enlaces {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 10px; }
    .contenedor-principal .menu .enlaces li {
      margin-right: 5%;
      padding: 26px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
      .contenedor-principal .menu .enlaces li a {
        text-decoration: none;
        color: #f1f1f0; }
      .contenedor-principal .menu .enlaces li a:hover {
        color: rgba(0, 0, 0, 0.808); }
  .contenedor-principal .menu .logo {
    position: absolute;
    top: 7px;
    left: 7px;
    padding: 10px;
    width: 5rem; }
  .contenedor-principal .menu .menu-hamburger-container {
    display: none; }

/* FOOTER  */
footer {
  z-index: 2;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 10vh;
  background: #000000;
  font-family: Arial, Helvetica, sans-serif; }
  footer p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(245, 245, 245, 0.681);
    margin-left: 15px;
    margin-top: 25px; }
  footer .logoredes {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50%;
    margin-bottom: 200px; }
    footer .logoredes img {
      width: 40px;
      padding-bottom: 90px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* LANDING BIENVENIDA */
.videofondo1 {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; }

.bienvenido {
  font-size: 5rem;
  position: relative;
  top: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .bienvenido a {
    font-family: 'Ruslan Display', cursive;
    color: rgba(255, 255, 255, 0.699);
    text-decoration: none;
    z-index: 2;
    font-size: 5rem; }

.contenedor-principal {
  background-image: url("../Multimedia/fotos/foto-fondo(1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* FOTOS  */
  /* VIDEO    */
  /* CONTACTO */ }
  .contenedor-principal .galeria2-contenedor {
    width: 100vw;
    text-align: center; }
    .contenedor-principal .galeria2-contenedor .galeria2 {
      z-index: 2;
      top: 20;
      display: inline;
      align-items: center; }
      .contenedor-principal .galeria2-contenedor .galeria2 img {
        width: 200px;
        height: 200px;
        margin: 10px;
        object-fit: cover; }
      .contenedor-principal .galeria2-contenedor .galeria2 img:hover {
        opacity: 80%; }
  .contenedor-principal .galeriavideo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .contenedor-principal .galeriavideo video {
      position: relative;
      top: 50px;
      width: 250px;
      height: 250px;
      object-fit: cover; }
  .contenedor-principal .formulario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    z-index: 2;
    font-family: "Roboto";
    position: relative;
    top: 100px; }
    .contenedor-principal .formulario form {
      position: relative;
      bottom: 50px; }
      .contenedor-principal .formulario form span {
        display: block; }
      .contenedor-principal .formulario form .label-name {
        color: white;
        font-weight: bold;
        font-size: 1.5rem; }
    .contenedor-principal .formulario textarea {
      width: 100%; }
