/* TITTLES */

$title-size1: 1rem;
$title-size2: 2rem;
$title-size3: 3rem;
$title-size4: 4rem;
$title-size5: 5rem;

$p-size1: 1rem;

/* BRACKGROUND */

$black-background: #000;
$white-background: whitesmoke;


/* FONTS */

$Titulos: 'Roboto';
$titulos2: 'Roboto Condensed';

$letter-spacing: 0.3rem;


/* PADDING */

$padding: 0.2rem;
$padding2: 0.3rem;
$padding3: 0.5rem;